.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-family: 'Fredoka', sans-serif;
}

.choreContainer {
  margin-bottom: 2rem;
}
