@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&family=Fredoka:wght@700&display=swap');

* {
/*  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);*/
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input, button, textarea, select {
  -webkit-appearance: none;
}

/* color variables */
:root {
  --black: rgb(37, 38, 39);
  --grey1: #D4D4D4;
  --grey2: #A2A2A3;
  --grey3: #707071;
  --offwhite: rgb(255, 244, 228);
  --offwhite1: rgba(255, 244, 228, 0.4);
  --lightblue: rgb(179, 179, 241);
  --green: rgb(33, 250, 144);
  --focus: #3BBFFF;
  --blue: rgb(52, 84, 209);
  --darkblue: #0B2899;
  --white: #FFF;
}

html {
  background-color: var(--offwhite1);
  color: var(--black);
  font: normal 16px/1.5 "Fira Sans", -apple-system,BlinkMacSystemFont,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

html, body {
  min-height: 100vh;
}

/* type */
strong {
  font-weight: 700;
}
a:link, a:visited {
  color: var(--blue);
  font-weight: 700;
}
a:hover {
  text-decoration: none;
}
a:visited {
  color: #0D85F4;
}
a:focus {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #CBE9FF;
  border-radius: 3px;
  outline: none;
}
a:active {
  opacity: .64;
}

h1, h2, h3, h4 {
  font-weight: 700;
  line-height: 1.25;
}

.fredoka {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.block {
  display: block;
}

h1, .h1 {
  font-size: 40px;
  font-weight: 700;
}
h2, .h2 {
  font-size: 32px;
}
h3, .h3 {
  font-size: 24px;
}
h4, .h4 {
  font-size: 20px;
}
h5, .h5 {
  font-size: 18px;
}

.mar-bot--8 {
	margin-bottom: 8px;
}
.mar-bot--12 {
	margin-bottom: 12px;
}
.mar-bot--16 {
	margin-bottom: 16px;
}
.mar-bot--24 {
	margin-bottom: 24px;
}
.mar-bot--40 {
	margin-bottom: 40px;
}

.body--large {
  font-size: 20px;
}
.body {
  font-size: 16px;  
}
.body--small {
  font-size:  14px;
}
.microcopy {
  font-size: 13px;
}

/* content container */
.content--container {
/*  background-color: var(--white);*/
  margin: auto;
  max-width: 560px;
/*  padding: 24px;*/
  @media screen and (min-width: 560px) {
/*    border-radius: 8px;*/
/*    border-left: 1px solid var(--grey1);*/
/*    box-shadow: 0 4px 12px var(--grey1);*/
  }
}

/* grid */
.grid {
    align-items: center;
    display: grid;
    margin: auto;
    max-width: 800px;
    padding: 24px 0;
}
.grid-gap--12 {
    padding: 12px;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
}
.grid-gap--24 {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}
.grid-gap--32 {
    grid-column-gap: 32px;
}
.grid-gap--80 {
    grid-column-gap: 80px;
}
.grid--2 {
    grid-template-columns: repeat(2, 1fr);
}
.grid--3 {
    grid-template-columns: repeat(3, 1fr);
}
.grid--4 {
    grid-template-columns: repeat(4, 1fr);
}

/* clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* header + logo */
.header {
  background-color: var(--white);
  /*background-color: rgba(255 255 255 / 0.8);
  backdrop-filter: blur(8px);*/
  border-bottom: 1px solid var(--grey1);
  height: 96px;
  left: 0;
  padding: 20px 24px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.header--container {
  margin: auto;
  max-width: calc(560px - 48px);
}
.logo {
  border-radius: 16px;
/*  border: 1px solid var(--grey1);*/
/*  box-shadow: 0 2px 4px var(--grey1);*/
/*  float: left;*/
  height: 48px;
/*  padding: 8px;*/
/*  margin-right: 12px;*/
  width: 48px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.title {
  font-size: 24px;
  line-height: 40px;
  text-align: center;
}
.date {
  color: var(--blue);
  font-weight: 400;
  padding-bottom: 4px;
  position: relative;
  text-align: center;
  top: -4px;
}
.total {
  float: right;
  font-weight: 700;
}
/*.done {
  color: var(--blue);
}*/

/* chores */

.subtitle {
  border-bottom: 1px solid var(--grey1);
  font-size: 20px;
/*  margin-bottom: 8px;*/
  padding-bottom: 16px;
}

.chores {
/*  background-color: var(--offwhite1);*/
  margin-top: 96px;
  padding: 24px;
  position: relative;
  z-index: 1;
}
.chore {
  cursor: pointer;
  padding: 20px 0;
  position: relative;
}
.chore:active .checkbox--label {
  opacity: 0.64;
}
.chore:nth-of-type(n+2) {
  border-top: 1px solid var(--grey1);
}
.checkbox--hidden {
  /* remove checkbox from UI */
  position: absolute;
  left: -9999px;
}
.checkbox--toggle {
  background-color: var(--grey1);
  border-radius: 20px;
/*  box-shadow: 0 0 0 1px inset var(--grey2);*/
  display: inline-block;
  float: right;
  height: 32px;
  position: absolute;
  right: 0;
  transition: background-color 0.16s ease-in-out;
  width: 56px;
}
.checkbox--toggle::before {
  background-color: var(--white);
  border-radius: 20px;
/*  box-shadow: 0 0 0 1px inset var(--grey2);*/
/*  box-shadow: 0 0 0 1px inset var(--grey2);*/
  content: "";
  display: inline-block;
  height: 24px;
  left: 4px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: left 0.24s ease-in-out;
  width: 24px;
}
.cb:checked + .checkbox--toggle {
  background-color: var(--blue);
}
.cb:checked + .checkbox--toggle::before {
  left: calc(100% - 28px);
}
.checkbox--label {
  display: inline-block;
  font-size: 20px;
  line-height: 32px;
  vertical-align: top;
  width: calc(100% - 72px);
}

/* intro */
.intro {
  display: table;
  height: 100vh;
  width: 100%;
}
.intro--content {
  display: table-cell;
/*  padding: 0 24px;*/
  vertical-align: middle;
  text-align: center;
}
.intro--container {
  margin: auto;
  max-width: 300px;
}
.intro--name {
  border-radius: 8px;
  border: 1px solid var(--grey2);
  box-shadow: 0 0 0 6px transparent;
  display: block;
  font-size: 20px;
  height: 56px;
  line-height: 56px;
  margin: 24px auto;
  outline: none;
  padding: 0 12px;
/*  transition: border-color 0.16s ease-in-out, box-shadow 0.24s ease-in-out;*/
  width: 100%;
}
.intro--name:focus {
  border-color: var(--black);
/*  box-shadow: 0 0 0 6px var(--focus);*/
  box-shadow: 0 0 0 2px var(--offwhite), 0 0 0 6px var(--focus);
}

.btn {
  background-color: var(--blue);
  border-radius: 16px;
  color: var(--white);
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 56px;
  outline: none;
/*  padding: 0 24px;*/
  width: 100%;
  transition: transform 0.12s ease-in-out;
}
/*.btn:hover {
  background-color: var(--darkpurple);
}*/
.btn:focus {
  box-shadow: 0 0 0 2px var(--offwhite), 0 0 0 6px var(--focus);
}
.btn:active {
  background-color: var(--darkblue);
  color: rgba(255 255 255 / 0.64);
  box-shadow: none;
  transform: scale(0.9);
}
.btn:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.intro--images {
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  width: 300px;
}
.app-icon {
  border-radius: 24px;
  cursor: pointer;
/*  border: 1px solid rgba(37, 38, 39, 0.24);*/
  display: block;
  margin: auto;
  outline: none;
  transition: transform 0.24s ease-in-out;
}
.app-icon:hover, .app-icon:focus {
  transform: scale(1.08);
}
.app-icon:focus {
  box-shadow: 0 0 0 2px var(--offwhite), 0 0 0 6px var(--focus);
}

/* hide / show */
.hidden {
  display: none;
}

/*.fadein {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.fadein--done {
  opacity: 1;
}*/

.outro {
  background: rgba(37, 38, 39, 0.64);
  bottom: -50%;
  left: 0;
  opacity: 0;
  padding-top: 24px;
  position: fixed;
  width: 100%;
  z-index: 3;
  pointer-events: none;
}
.outro .intro--content {
  background-color: var(--white);
  border-radius: 12px 12px 0 0;
  bottom: 0;
  box-shadow: 0 8px 16px rgba(37, 38, 39, 0.4);
  display: block;
  left: 50%;
  margin: auto;
  min-width: calc(100% - 48px);
  max-width: 560px;
  padding: 40px 24px;
  position: absolute;
  transform: translateX(-50%);
}

@media screen and (min-width: 560px) {
  .outro .intro--content {
    min-width: 560px;
  }
}

.outro--image {
  display: block;
  margin: auto;
  max-width: 180px;
}

.fadein {
  bottom: 0;
  opacity: 1;

  animation: fadein 0.4s ease-in-out;

  pointer-events: initial;
}

@keyframes fadein {
  0% {
/*    display: none;*/
    bottom: -50%;
    opacity: 0;
  }
  100% {
/*    display: block;*/
    bottom: 0;
    opacity: 1;
  }
}

